<%= form_tag({:action => 'update', :id => @song, :artist_id => @artist}) do %>
  
  <div class="form-group">
    <%= label_tag :title, 'Title: ' %>
    <%= text_field(:song, :title) %>
  </div>
  <div class="form-group">
    <%= label_tag :artist, 'Artist: ' %>
    <%= text_field(:artist, :artist) %>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <span class="glyphicon glyphicon-pencil"></span> Edit Song
  <% end %>

<% end %>