<!-- Instance Variables !-->
<% @page_title = "Mattchet Music | Library" %>
<!-- End Instance Variables !-->


<%= render(:partial => "edit_song_modal") %>
<%= render(:partial => "delete_song_modal") %>

<!-- If there is a @song value to edit then open the #edit-song-modal on page load !-->
<% if !@song.blank? && !(params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#edit-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- If there is a @song value to delete then open the #delete-song-modal on page load !-->
<% if !@song.blank? && (params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#delete-song-modal").modal("show");
		});
	</script>
<% end %>

<table class='table table-striped'>
	<th></th>
	<th>Title</th>
	<th>Artist</th>
	<th>Feautured Artists</th>

	<% @songs.each do |song| %>
	<% artist = song.artist.try(:artist).to_s %>
	<tr>
		<td><%= link_to('<span class="glyphicon glyphicon-pencil"></span>'.html_safe, {:action => 'edit', :song_id => song.id, :artist_id => song.artist_id}) %></td>
		<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
		<td><%= artist %></td>
		<td></td>
	</tr>
	<% end %>
</table>