<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= @page_title %></title>
    <meta property="og:description" content="Thee's Music App" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <%= stylesheet_link_tag('application', :media => 'all') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

  </head>
  <body>
        
    <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice].html_safe %>
      </div>
    <% end %>

    <header>
      <div class="container">
        <p class="text-center p-top-10 col-xs-12 h3" id="logo">
          <span class="vert-middle">
            <%= link_to(image_tag('logo.png', :alt => 'logo', :style => [ 'height:1.5em;']) + ' <b>MATTCHET MUSIC</b>'.html_safe, {:controller => 'songs', :action => 'index'}) %> 
          </span>
        </p>
        <!-- Conditional to show "Playlist Name Heading" !-->
        <% if params[:controller] == 'playlists' && (params[:action] == 'show' || params[:action] == 'edit') %>
          <p class="text-center"><%= @playlist.playlist %></p>
        <% end %>
        <!-- End Conditional !-->
        <nav>
          <ul class="list-unstyled text-center col-xs-12">
            <!-- Conditional to show "Playlist Name Heading" !-->
        <% if params[:controller] == 'playlists' && (params[:action] == 'show' || params[:action] == 'edit' ) %>
          <%= link_to('<li class="inline-block p-10">Edit Playlist</li>'.html_safe, {:controller => 'playlists', :action => 'edit', :playlist_id => @playlist.id}) %>
          <% else %>
           <%= link_to('<li class="inline-block p-10">Add Track</li>'.html_safe, {:controller => 'songs', :action => 'new'}) %>
           <%= link_to('<li class="inline-block p-10">Create Playlist</li>'.html_safe, {:controller => 'playlists', :action => 'new'}) %>
        <% end %>
        <!-- End Conditional !-->
            <li class="inline-block p-10"><span class="glyphicon glyphicon-chevron-down"></span> Playlists
              <ul>
                <% @playlists = Playlist.all %>
                <% @playlists.each do |playlist| %>
                  <%= link_to('<li>'.html_safe + playlist.playlist + '</li></a>'.html_safe, {:controller => 'playlists', :action => 'show', :playlist_id => playlist.id}) %>
                <% end %>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </header>