<!-- Instance Variables & Modals !-->
<% @page_title = "Mattchet Music | Library" %>

<%= render(:partial => "/songs/edit_song_modal") %>
<%= render(:partial => "/songs/delete_song_modal") %>
<%= render(:partial => "/playlists/add_playlist_modal") %>

<!-- ********** Conditionals to display the required Modal ********** !-->

<!-- open #edit-song-modal on page load !-->
<% if !@song.blank? && !(params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#edit-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- open #delete-song-modal on page load !-->
<% if !@song.blank? && (params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#delete-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- open #add-playlist-modal on page load !-->
<% if params[:action] == 'new' && params[:controller] == 'playlists' %>
	<script>
		$(document).ready(function(){
    		$("#add-playlist-modal").modal("show");
		});
	</script>
<% end %>

<!-- ********** END Conditionals for Modals ********** !-->

<!-- Conditional to show "Create Playlist Message" !-->
<% if params[:controller] == 'playlists' && params[:action] == 'create_name' %>
	
	<p class="text-center">Check songs to be add to playlist and then click create.</p>
	<%= button_tag(type: 'submit', class: "btn btn-danger", onclick: "createPlaylistSubmit()") do %>
    	<span class="glyphicon glyphicon-remove"></span> Create Playlist
  	<% end %>
  	
  	<%= javascript_tag do %>
		function createPlaylistSubmit() {
			document.getElementById("create-playlist").submit();
		}
	<% end %>

<% end %>
<!-- End Conditional !-->

<table class='table table-striped'>
	<th></th>
	<th>Title</th>
	<th>Artist</th>
	<th>Feautured Artists</th>

	<% if params[:action] == 'create_name' && params[:controller] == 'playlists' %>
		<%= form_for(:song, :url => {:controller => 'playlists', :action => 'add_songs', :id => @playlist_id}, html: {id: "create-playlist"}) do |f| %>
			
			<% @songs.each do |song| %>
				<% artist = song.artist.try(:artist).to_s %>
					
				<tr>
					<% if params[:action] == 'create_name' && params[:controller] == 'playlists' %>
						<td> 
							<div class="form-group">
				 				<input type="checkbox" name="song[song_id][]" value= <%= song.id %>>  
				 			</div>
				 		</td>
			 		<% end %>
			
					<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
					<td><%= artist %></td>
					<td></td>
				</tr>
			<% end %>	
		<% end %>

	<% else %>
		
		<% @songs.each do |song| %>
			<% artist = song.artist.try(:artist).to_s %>
			<tr>
				<td><%= link_to('<span class="glyphicon glyphicon-pencil"></span>'.html_safe, {:action => 'edit', :song_id => song.id, :artist_id => song.artist_id}) %></td>
				<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
				<td><%= artist %></td>
				<td></td>
			</tr>
		<% end %>
	<% end %>
</table>
