<!-- Instance Variables !-->
<% @page_title = "Mattchet Music | Library" %>
<!-- End Instance Variables !-->


<%= render(:partial => "/songs/edit_song_modal") %>
<%= render(:partial => "/songs/delete_song_modal") %>
<%= render(:partial => "/playlists/add_playlist_modal") %>

<script>
	function myFunction() {
    document.getElementById("hey").submit();
}
</script>

<!-- If there is a @song value to edit then open the #edit-song-modal on page load !-->
<% if !@song.blank? && !(params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#edit-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- If there is a @song value to delete then open the #delete-song-modal on page load !-->
<% if !@song.blank? && (params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#delete-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- If controller/action is playlists/new then open the #add-playlist-modal on page load !-->
<% if params[:action] == 'new' && params[:controller] == 'playlists' %>
	<script>
		$(document).ready(function(){
    		$("#add-playlist-modal").modal("show");
		});
	</script>
<% end %>

<!-- If playlists/new action then show the following !-->
<% if params[:action] == 'create' && params[:controller] == 'playlists' %>
	<p class="text-center">Check songs to be add to playlist and then click create.</p>
	<%= button_tag(type: 'submit', class: "btn btn-danger", onclick: "myFunction()") do %>
    	<span class="glyphicon glyphicon-remove"></span> Create Playlist
  	<% end %>
<% end %>



<table class='table table-striped'>
	<th></th>
	<th>Title</th>
	<th>Artist</th>
	<th>Feautured Artists</th>

	<% if params[:action] == 'create' && params[:controller] == 'playlists' %>
		<%= form_for(:song, :url => {:controller => 'songs', :action => 'create_join', :id => @playlist_id}, html: {id: "hey"}) do |f| %>
			
			<% @songs.each do |song| %>
				<% artist = song.artist.try(:artist).to_s %>
					
				<tr>
					<% if params[:action] == 'create' && params[:controller] == 'playlists' %>
						<td> 
							<div class="form-group">
				 				<input type="checkbox" name="song[song_id][]" value= <%= song.id %>>  
				 			</div>
				 		</td>
			 		<% end %>
			
					<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
					<td><%= artist %></td>
					<td></td>
				</tr>
			<% end %>	
		<% end %>

	<% else %>
		
		<% @songs.each do |song| %>
			<% artist = song.artist.try(:artist).to_s %>
			<tr>
				<td><%= link_to('<span class="glyphicon glyphicon-pencil"></span>'.html_safe, {:action => 'edit', :song_id => song.id, :artist_id => song.artist_id}) %></td>
				<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
				<td><%= artist %></td>
				<td></td>
			</tr>
		<% end %>
	<% end %>
</table>
