<!-- Instance Variables & Modals !-->
<% @page_title = "Mattchet Music | Library" %>

<%= render(:partial => "/songs/modals/edit_song_modal") %>
<%= render(:partial => "/songs/modals/delete_song_modal") %>
<%= render(:partial => "/playlists/modals/add_playlist_modal") %>
<%= render(:partial => "/playlists/modals/edit_playlist_modal") %>
<%= render(:partial => "/playlists/modals/delete_playlist_modal") %>

<!-- ********** Conditionals to display the required Modal ********** !-->

<!-- open #edit-song-modal on page load !-->
<% if !@song.blank? && !(params[:action] == 'delete') || (params[:action] == 'create_songs' && params[:controller] == 'playlists' &&  @playlist.errors.size > 0) %>
	<script>
		$(document).ready(function(){
    		$("#edit-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- open #delete-song-modal on page load !-->
<% if !@song.blank? && (params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
    		$("#delete-song-modal").modal("show");
		});
	</script>
<% end %>

<!-- open #add-playlist-modal on page load !-->
<% if (params[:action] == 'new' && params[:controller] == 'playlists') || (params[:action] == 'create_name' && params[:controller] == 'playlists' &&  @playlist.errors.size > 0) %>
	<script>
		$(document).ready(function(){
    		$("#add-playlist-modal").modal("show");
		});
	</script>
<% end %>

<!-- Redirect if user exits modal without filling out form !-->
<script>
	$('#add-playlist-modal').on('hidden.bs.modal', function () {
		window.location.assign("redirect_index")
	});
</script>

<!-- open #edit-playlist-modal on page load !-->
<% if (params[:action] == 'edit' && params[:controller] == 'playlists') || (params[:action] == 'update' && params[:controller] == 'playlists' &&  @playlist.errors.size > 0) %>
	<script>
		$(document).ready(function(){
    		$("#edit-playlist-modal").modal("show");
		});
	</script>
<% end %>

<!-- open #delete-playlist-modal on page load !-->
<% if (params[:action] == 'delete' && params[:controller] == 'playlists') %>
	<script>
		$(document).ready(function(){
    		$("#delete-playlist-modal").modal("show");
		});
	</script>
<% end %>

<!-- ********** END Modals ********** !-->

<!-- Conditional to show "Create Playlist Heading" !-->
<% if params[:controller] == 'playlists' && params[:action] == 'create_name' && @playlist.errors.size == 0 %>
	
	<p class="text-center">Check songs to be add to playlist and then click create.</p>
	<%= button_tag(type: 'submit', class: "btn btn-danger", onclick: "createPlaylistSubmit()") do %>
    	<span class="glyphicon glyphicon-remove"></span> Create Playlist
  	<% end %>
  	
  	<%= javascript_tag do %>
		function createPlaylistSubmit() {
			document.getElementById("create-playlist").submit();
		}
	<% end %>

<% end %>

<table class='table table-striped'>
	<% if (params[:controller] != 'playlists') || (params[:action] == 'create_name' && @playlist.errors.size == 0) || (params[:action] == 'new') || (params[:action] == 'create_songs' && @playlist.errors.size > 0 ) %>
		<th></th>
	<% end %>
	<th>Title</th>
	<th>Artist</th>
	<th>Feautured Artists</th>

	<!-- Table if playlists/create_name !-->
	<% if params[:action] == 'create_name' && params[:controller] == 'playlists' && @playlist.errors.size == 0 %>
		<%= form_for(:song, :url => {:controller => 'playlists', :action => 'create_songs', :id => @playlist_id}, html: {id: "create-playlist"}) do |f| %>
			
			<% @songs.each do |song| %>
				<% artist = song.artist.try(:artist).to_s %>
					
				<tr>
					<td> 
						<div class="form-group">
			 				<input type="checkbox" name="song[song_id][]" value= <%= song.id %>>  
			 			</div>
			 		</td>
					<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
					<td><%= artist %></td>
					<td></td>
				</tr>
			<% end %>	
		<% end %>

	<% else %>

		<!-- Table if NOT playlists/create_name !-->
		<% @songs.each do |song| %>
			<% artist = song.artist.try(:artist).to_s %>
			<tr>
				<% if (params[:controller] != 'playlists') || (params[:action] == 'new') || (params[:action] == 'create_name' && @playlist.errors.size > 0 ) || (params[:action] == 'create_songs' && @playlist.errors.size > 0 ) %>
					<td><%= link_to('<span class="glyphicon glyphicon-pencil"></span>'.html_safe, {:controller => 'songs', :action => 'edit', :song_id => song.id, :artist_id => song.artist_id}) %></td>
				<% end %>
				<td><%= link_to(song.title, 'https://www.youtube.com/results?search_query=' + song.title + ' ' + artist, target: "_blank") %></td>
				<td><%= artist %></td>
				<td></td>
			</tr>
		<% end %>
	<% end %>
</table>
